html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-areas:
    'header header header header'
    'hero hero hero hero'
    'about about about about'
    'services services services services'
    'projects projects projects projects'
    'footer footer footer footer';
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.header {
  grid-area: header;
}
.header .header-container {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  /* para não ficar tão pequeno no mobile */
  min-height: 75px;
}

.header h1 {
  font-weight: 700;
  font-size: 3rem;
  /* tempo de animações nesse elemento */
  transition: 0.3s;
}

.header a:hover h1 {
  color: coral;
}

.header .menu {
  display: none;
  width: 60px;
  height: 60px;
  /* alinha self sempre no final do fluxo row no caso */
  align-self: flex-end;
}

.header nav label {
  display: flex;
  flex-direction: column;
}

.header .hamburguer {
  background-color: black;
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  transition: 0.5s ease-in-out;
  top: 29px;
  left: 15px;
}

.header .hamburguer:before,
.header .hamburguer:after {
  background-color: black;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.header .hamburguer:before {
  top: -10px;
}
.header .hamburguer:after {
  bottom: -10px;
}

.header input {
  display: none;
}

/* Estrutura se então no css??????? */
.header input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}
/* Estrutura se então no css??????? */
.header input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}
.header input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

.hero {
  grid-area: hero;
  height: 89vh;
  background: url('../img/lemons.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 4rem;
  padding: 20px;
  text-align: center;

}
.hero:after {
  content: url('../img/seta_preta.png');
  height: 35px;
  bottom: 40px;
  position: absolute;
  /* DOWNARROW É APENAS UM NOME QUALQUER */
  animation: downarrow 0.6s infinite alternate ease-in-out;
}

/* DOWNARROW É APENAS UM NOME QUALQUER */
@keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY() 0.4;
    opacity: 0.9;
  }
}
.about {
  grid-area: about;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  max-width: var(--max-width-size);
  /* para sempre ficar no meio e não no canto esquerdo */
  margin: 0 auto;
}
.about .item{
  padding: 20%;
  display: flex;
  flex-direction: column;
    /* alinha o conteudo vertical - por conta do flex-direction */
  justify-content: center;
  /* alinha o conteudo horizontal */
  align-items: center;
}
.about .item h3{
  font-weight: 700;
  font-size: 4rem;
}
.about .item p{
  font-size: 1.8rem;
  margin: 30px 0;
}

.about .image {
  height: 100%;
  width: 100%;
}

.about .item .btn-saiba-mais{
  font-size: 1.6rem;
  transition: 0.2s ease-in-out;
  /* align-self: flex-start; */
}
.about .item .btn-saiba-mais:hover{
  font-weight:700;
  color: red;
  text-decoration-line:underline;
}

.about .image.right {
  background: url('../img/bridge.jpg') center center no-repeat;
  background-size: cover;
}
.about .image.left {
  background: url('../img/sky.jpg') center center no-repeat;
  background-size: cover;
}

.services {
  grid-area: services;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.services .service{
  padding: 70px 20px;
}
.services .service img{
  width: 250px;
  margin-bottom: 30px;
}

.services .service h3{
  font-size: 1.8rem;
  font-weight: 700;
}

.services .service p{
  font-size: 2rem;
  font-weight: 400;
  max-width: 400px;
  margin: 20px auto 0;
  line-height: 50px;
}
.services .service:nth-child(1){
  background-color: lightblue;
}
.services .service:nth-child(2){
background-color: lightpink;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(4,1fr);

}
.projects img{
  /* a largura ja cocupa toda a linha por padrão width: 100%; */
  height: 100%;
  transition: 0.33s;
}
.projects a:hover img{
  opacity:0.66;

}
.footer {
  grid-area: footer;
  display: flex;
  background-color: lightgreen;
  flex-direction: column;
  text-align: center;
  padding: 100px 0;
}

.footer h4{
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.footer nav{
  margin: 50px 0;
}

.footer nav ul{
  display:flex;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
}
.footer nav ul li a{
  font-weight: 500;
  font-size: 2rem;
  margin:20px;
  transition: 0.3s;

}
.footer nav ul li a:hover{
  font-weight:  700;
  color: white;
}
.footer .social i {
  font-size: 2rem;
  transition: 0.3s;
}

.footer .social a{
margin: 20px;
}
.footer .social a:hover{
  color: white;
}

@media (max-width: 900px) {
  .header .menu {
    display: block;
  }
  .header input:checked ~ ul {
    display: block;
  }
  .header nav {
    position: absolute;
    top: 0px;
    right: 20px;
    /* vai ficar por coma no eixo z (frente) */
    z-index: 1;
  }

  .header nav ul {
    display: none;
    width: 200px;
    background-color: white;
    padding: 20px;
  }

  .header nav ul a {
    text-align: center;
    padding: 20px;
    display: block;
  }
}

/* TABLET */
@media (max-width: 768px) {
.projects{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2,1fr);
}
}

@media (max-width: 425px) {
  .hero {
    height: 60vh;
  }
  .hero h2 {
    font-size: 2.5rem;
  }
  .about .item{
    text-align:center;
  }
  .about {
    /* 1 coluna ocupando todo a altura */
    grid-template-columns: 1fr;
        /* 4 linhas ocupando toda a largura - assim: 1fr 1fr 1fr 1fr repeat siginifica meramente repetir 4 vezes o texto 1fr*/
    grid-template-rows: repeat(4, 1fr);
  }
  .projects{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }


  .services{
    grid-template-columns:1fr;
    /* uma coluna inteira */
  }

}
